<br>
<button [ngStyle] = "myButtonStyle" (click)="showHideDiv()">Show Hide Div</button>
<br>
<div [ngClass] = "myDivStyle" *ngIf="flag">
    {{message}}
    <br>
    <ul>
            <li *ngFor="let item of vehicles" (click)="setSelectedVehicle(item)">
                {{ item }}
            </li>
    </ul>
    <br>
    You have Selected: {{selectedVehicle}}
    <div [ngSwitch]="selectedVehicle">
        <img src="https://www.bing.com/th/id/OIP.FuzOwG_9VrNkELxI_F72GwHaEK?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2" *ngSwitchCase="'Car'" />
        <img src="https://www.bing.com/th/id/OIP.A8Ag07Om1nq8SdNy6LuyJAAAAA?w=193&h=333&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2" *ngSwitchCase="'Bike'" />
        <img src="https://www.bing.com/th/id/OIP.VEazi_crWJEi1nrFp8N0GgHaEM?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2" *ngSwitchCase="'Bus'" />
        <img src="https://www.bing.com/th/id/OIP.rOMoUJvoZz7DP1pMAbdNpQHaFE?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2" *ngSwitchCase="'Truck'" />
        <font color="red" *ngSwitchDefault>Invalid Selection</font>
    </div>
</div>

<br><br><br>

<br>
<button [ngStyle]="myButtonStyle" (click)="showHideDiv()">
    Show Hide Div
</button>
<br>

@if (flag) {
<div [ngClass]="myDivStyle">
    {{ message }}

    <br>

    <ul>
        @for (item of vehicles; track item) {
            <li (click)="setSelectedVehicle(item)">
                {{ item }}
            </li>
        }
    </ul>

    <br>

    You have Selected: {{ selectedVehicle }}

    @switch (selectedVehicle) {
        @case ('Car') {
            <img src="https://www.bing.com/th/id/OIP.FuzOwG_9VrNkELxI_F72GwHaEK?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2">
        }

        @case ('Bike') {
            <img src="https://www.bing.com/th/id/OIP.A8Ag07Om1nq8SdNy6LuyJAAAAA?w=193&h=333&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2">
        }

        @case ('Bus') {
            <img src="https://www.bing.com/th/id/OIP.VEazi_crWJEi1nrFp8N0GgHaEM?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2">
        }

        @case ('Truck') {
            <img src="https://www.bing.com/th/id/OIP.rOMoUJvoZz7DP1pMAbdNpQHaFE?w=193&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=ImgAns&rm=2">
        }

        @default {
            <font color="red">Invalid Selection</font>
        }
    }
</div>
}