@charset "ISO-8859-1";
.Header{
	color : blue;
	border:2px solid green;
	text-align : center;
	border-radius :20px;
}
.content{
	color : blue;
	border:2px solid green;
	text-align : center;
	border-radius :20px;
}